html, body
{
	margin: 0;
	padding: 0;
	min-width:100%;
}

body
{
	background: #ddd url('../images/ss_bg.gif') repeat;
}

*
{
	font-family: 'Raleway', sans-serif;
}

label
{
	cursor: pointer;
}

label:hover
{
	color:#84ace9;
}

ul, ol
{
	list-style:none;
}

.hide
{
	visibility:hidden;
}

#overlay
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #000;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	display:none;
	z-index:5;
	cursor:pointer;
}

#top-nav
{
	padding: 15px;
	border-bottom: solid 1px #ccc;
	background: #f2f2f2;
	text-align: center;
}

#top-nav h1
{
	font-size: 15pt;
	color: #666;
	font-weight: 400;
}

#top-nav span
{
	font-size: 9pt;
	color: #666;
	text-shadow: 0px 1px 0px #fff;
}

#browser
{
	float:left;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
	width: 100%;
	margin-top: 50px;
	box-shadow: 0px 0px 2px #aaa;

	background-color:#fff;
}

.browser-align
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-left: solid #ccc;
	border-right: solid #ccc;
	overflow: hidden;
}

#search-container
{
	float: left;
	background: #fff;
	padding:20px 20px 35px 20px;
}

#search-container h2
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 8pt;
	margin-left: 15px;
	font-weight: 400;
	color: #bbb;
	margin:15px 0px 15px 0px;
}

#search-top
{
	position:relative;
	float: left;
	margin-bottom:15px;
	z-index: 0;
}

#search-text
{
	float: left;
	border: solid 1px #ddd;
	border-radius: 15px;
	padding: 10px 10px 10px 40px;
	letter-spacing: 2px;
	color: #aaa;
	background: #fff url('../images/search.png') no-repeat 5% 50%;
}

#search-text-go
{
	float: left;
	border: solid 1px #ddd;
	border-radius: 15px;
	padding: 10px;
	color: #999;
	cursor: pointer;
}

#search-cat
{
	padding-top:15px;
	color:#aaa;
	font-size:9pt;
	letter-spacing:1px;
}

#search-cat input[type='radio']
{
    display: none;
}

#search-cat input[type='radio'] + label span
{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url('../images/button.png') left top no-repeat;
    margin:7px 15px 8px 0px;
}

#search-cat input[type='radio']:checked + label span
{
    background: url('../images/button.png') -15px top no-repeat;
}

#search-grad
{
	display:block;
	float: left;
	width: 35px;
	background: url('../images/grad.png') repeat;
	z-index: 999;
	opacity:0.05;
	height:100%;
}

#search-results
{
	float: left;
	position: relative;
	left: -35px;
	float: left;
	z-index: 0;
}

#print-message
{
	display: block;
	margin-left: 80%;
	margin-top:90px;
	width: 300px;
	text-align: center;
}

#print-message span
{
	font-family: 'Old Standard TT', serif;
	font-size:24px;
	color:#ccc;
	text-shadow:0px 1px 1px #ddd;
}

#results-hold
{
	width:700px;
}

#results-hold li
{
	display:inline-block;
	float:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	padding:5px;
	padding-bottom:2px;
	border:solid #ddd 1px;
	box-shadow: 0px 1px 2px #ccc;
	margin:10px;
}

#results-hold li:hover
{
	border:solid #8eb1f1 1px;
	cursor:pointer;
}

#editing-template
{
	display:none;
	min-width:50%;
	min-height:50%;
	background-color:#fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 75%;
	position: fixed;
	left: 50%;
	margin: 0 0 0 -37.5%;
	top:100px;
	opacity:0;
	z-index:500;
}

#footer
{
	display:block;
	float:left;
	width: 100%;
	padding: 15px 0px 15px 0px;
	border-top: solid 1px #ccc;
	text-align: center;
	margin-top: 50px;
}

#footer span
{
	font-size: 9pt;
	color: #666;
	text-shadow: 0px 1px 0px #fff;
}